@media (max-width: 1200px) {
    .card-detail__right {
        max-width: 400px;

    }

}

@media (max-width: 900px) {
    .card-detail__inner {
        flex-direction: column;
    }

    .card-detail__right {
        max-width: 800px;
        width: 100%;
    }
}