.product-detail-top {
    margin-top: 145px;
    margin-bottom: 93px;

    max-width: 1250px;
    width: 100%;

    padding-left: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.card-detail {
    background: #FAFAFA;
    box-shadow: 17px 17px 61px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
}

.card-detail__inner {
    max-width: 1250px;
    width: 100%;

    padding: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 40px;
}

.card-detail__right {
    max-width: 475px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 68px;


}

.card-detail__info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        font-family: "Poppins-SemiBold", sans-serif;
        color: #292B39;
        font-size: 51px;
    }

    p {

        font-family: "Poppins-regular", sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        color: rgba(136, 136, 136, 0.7);


    }

}

.card-detail__creators {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;


}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;

    .creator__info {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .creator__label {
            font-family: 'Poppins-Regular';
            font-size: 18px;
            color: #8D8D8D;

        }

        .creator__name {
            font-family: 'Poppins-Medium';
            font-size: 26px;
            color: #000000;

        }
    }

}

.card-detail__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.card-detail__price,
.card-detail__date {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
        font-family: 'Poppins-Regular';
        font-size: 18px;
        color: #8D8D8D;
    }
}

.price__value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .price__amount {
        font-family: 'Poppins-SemiBold';
        font-size: 33px;
        color: #292B39;

    }



}

.card-detail__left {
    display: flex;
}

.card-detail__image {

    width: 100%;

}

.date__text {
    font-size: 20px;
    color: #000000;
}

.card-detail__button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;

    svg {
        fill: #FAFAFA;


    }

    &:hover {
        svg {
            fill: #141416;
        }

    }
}


/* from-creator */


.from-creator {
    margin-top: 132px;
}

.title-from-creator {
    font-family: 'Poppins-SemiBold';
    font-weight: 600;
    font-size: 31px;
    line-height: 28px;
    color: #C3C3C4;
    text-align: start;

    margin-bottom: 44px;
}







.card-m {
    min-width: 215px;
    max-height: 297px;

    padding: 14px;


}

.avtor-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-top: 7px;

    .avtor-name {
        font-size: 14px;
        font-family: 'Poppins-Bold';
        line-height: 22px;
        color: 141416;
    }
}

.likeis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .likeis-stats {
        font-size: 13px;
        color: #888888;
        font-family: 'Poppins-SemiBold';

    }
}

.card-container-m {
    gap: 51px;
    margin-top: 45px;
}

.card-m-inner {
    gap: 7px;

    .title__card-m {
        margin-top: 0;
        font-size: 17px;
    }
}




.card__images-m {
    max-width: 188px;
    max-height: 165px;
}



.card-price-m {

    padding: 4px;
}

.price-m {
    align-items: center;
    flex-direction: initial;
    height: 0;

    .price__p-m {
        font-family: 'Poppins-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #141416;


    }

}



.price__info {
    display: flex;
    flex-direction: row;
    gap: 5px;


}

.card__button {
    max-width: 120px;
    height: 50px;


    padding: 16px;
}